<!--
<div class="entries">
  <div class="entry">
    <div class="title">2011</div>
    <div class="body">
      <p>Neque sunt voluptatibus repellat pariatur ut enim. Eveniet rerum suscipit eveniet amet dignissimos. Doloremque et distinctio quod molestiae ut.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2012</div>
    <div class="body">
      <p>Quo nobis cumque dolor iure voluptatem voluptatem alias soluta.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title big">2013</div>
    <div class="body">
      <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2014</div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque. Reiciendis non laborum adipisci ipsa pariatur omnis. Sed ipsam repudiandae velit. Omnis libero nostrum aperiam nemo dolor ea eos eius. Esse a non itaque quidem.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2015</div>
    <div class="body">
      <p>VAdipisci totam omnis cum et suscipit excepturi et excepturi. Inventore sequi sit ut aliquid. Modi aut dolores dignissimos.</p>
      <p>Delectus facere officia consequuntur molestias deserunt illo. Placeat laudantium beatae natus excepturi ab nihil voluptates.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title big">2016</div>
    <div class="body">
      <p>Impedit dolorem commodi explicabo fugit aut alias voluptatem. Magnam earum rerum quae dicta quibusdam aliquam ut.</p>
    </div>
  </div>
  <div class="entry">
    <div class="title">2017</div>
    <div class="body">
      <p>Qui facere eos aut suscipit doloremque quos...</p>
    </div>
  </div>
</div>
-->



<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
           I love solving problems with simple methods.
           I have always engrossed myself to solve new problems.
           I am looking for position of Machine learning engineer or Backend engineer where I can contribute based on my previous work experience.
        </p>
        <p>
            I am currently pursuing Computer Engineering Master's degree from Santa Clara University I have done my Bacheloers from Pune University, India. I have working experience of 3 years as Senior Systems Engineer at Infosys Ltd, India and 6 months as Research Intern at Fujitsu Labs of America, Sunnyvale. 
            I am proficient with implementation of Machine Learning algorithm, NLP, Back-End developer with expertise in Java, Python, Javascript, Oracle, SQL, Python libraries.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Migrated a monolithic Heroku Ruby on Rails API to multiple Scala
            services hosted on AWS. Delivered ahead of schedule, projected to save $18k/quarter.
    			</li>
          <li>
            Presented research and proof-of-concept to convince team to move from Hadoop MR to Spark; reduced nodes by 60% and ran 5-8x faster.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
