<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Natural Language Processing</b>. I have taken multiple courses to learn and practice about NLP. My internship has added an professional touch to my learnings.
			  </li>
			  <li>
				  <b>Reading</b>. I am a avid reader. I have read ranging from Shivaji Maharaj, Karna, Mahabharata, Ramayana, Bhagwad Gita, World War, Harry Potter, Abraham Lincoln.
			  </li>
			  <li>
				  <b>Biking & Woods</b>. When I was in India, I have biked in the ranges of Sahaydris convering many forts built by Shivaji Maharaj. I also love camping in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Developed a recommendation engine for recommending Heroes for DotA-2 video game based on 50K real matches. It's accuracy is 67% for Naive Bayes Model. 
    		</li>
  			<li>
          Developed a Natural English language to SQL query generator using NLTK, Stanford NER in Python. Accurately predicted 85% of queries out of 10k
  			</li>
          Chat bot question answering system using POS Tagging, TF-IDF and cosine similarity, stemming in Python using NLTK
        <li>
        </li>
          Data Visualization in Tableau
        <li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
